<div class="top-tagbar">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <div class="w-100">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 col-9">
                <div class="fs-14 fw-medium">
                    <i class="bi bi-geo-alt align-middle me-2"></i> Ariana, Tunisia
                </div>
            </div>
            <div class="col-md-4 col-6 d-none d-xxl-block">
                <div class="d-flex align-items-center justify-content-center gap-3 fs-14 fw-medium">
                    <div>
                        <i class="bi bi-envelope align-middle me-2"></i> Ai@ESPRITTech.com
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-3">
                <div class="d-flex align-items-center justify-content-end gap-3 fs-14">
                    <div class="text-reset fw-normal d-none d-lg-block">
                        <i class="bi bi-telephone-outbound align-middle me-2"></i> +216 71258962
                    </div>
                    <hr class="vr d-none d-lg-block">
                    <div class="dropdown topbar-head-dropdown topbar-tag-dropdown justify-content-end">
                        <button type="button"
                            class="btn btn-icon btn-topbar text-reset rounded-circle fs-14 fw-medium"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="header-lang-img"
                                src="https://themesbrand.com/toner/html/assets/images/flags/tn.svg"
                                alt="Header Language" height="16" class="rounded-circle me-2"> <span
                                id="lang-name">Tunisia</span>
                        </button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg ecommerce-navbar" id="navbar">
    <div class="container">
        <a class="navbar-brand d-none d-lg-block" href="index.html">
            <div class="logo-dark">
                <img src="../assets/images/logo-dark.png" alt="" height="25">
            </div>
            <div class="logo-light">
                <img src="../assets/images/logo-light.png" alt="" height="25">
            </div>
        </a>
        <button class="btn btn-soft-primary btn-icon d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list fs-20"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0" id="navigation-menu">
          

            </ul>
        </div>
        <div class="bg-overlay navbar-overlay" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent.show"></div>
        
    </div>
</nav>